<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name ="AdvisorySettings">
      <section name="SMTP" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="Message" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  
  <AdvisorySettings>
    <SMTP>
      <add key="smtp" value="val1" />
      <add key="server" value="val1" />
      <add key="email" value="val1" />
      <add key="password" value="val1" />
    </SMTP>
    <Message>
      <add key="attachmentPath" value="val1" />
      <add key="subject" value="val1" />
      <add key="bodyHTMLPath" value="val1" />
    </Message>
  </AdvisorySettings>
</configuration>